# Editors and IDEs
.idea
.vscode
.classpath
*.project
*.sln
*.xcodeproj

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
[Tt]arget/
[Oo]ut/
[Dd]istribution/
[Bb]uild/
